*{
	font-family: Microsoft JhengHei;
}

body{
	background-color: rgb(245,245,245);
	display: flex;
	flex-direction: column;
	align-items: center;
}
input {
    -webkit-appearance: none;  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
    -moz-appearance: none;     /* FireFox */
    appearance: none;
}

:focus{
    outline: 0px;
}

.nav-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	width: 100%;
	min-height: 1.5rem;
	background-color: rgba(0,0,0,0.0);
	border-radius: 0rem;
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	border-left-width: 1px;
	border-right-width: 0px;
	font-weight: bold;
	color:#aaaaaa;
	transition: 0.15s;
}

.nav-btn-left{
	border-left-width: 1px;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}
.nav-btn-right{
	border-right-width: 1px;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}


.nav-btn:focus {
	background-color: #cccccc;
	border-style:solid;
	color: white;
}


#mode-selector {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

