body{
	background-color: rgb(245,245,245);
}
input {
    -webkit-appearance: none;  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
    -moz-appearance: none;     /* FireFox */
    appearance: none;
}

#mode-selector{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

.nav-btn{
	width: 100%;
	border-radius: 0rem;
	
}